<main class="main">
   <ol class="mb-8 flex items-center whitespace-nowrap sm:mb-16" aria-label="Breadcrumb">
      <li class="inline-flex items-center">
         <a class="flex items-center text-xl font-semibold text-primary-900 text-opacity-60 sm:text-4xl" href="/">
            Home
         </a>
         <svg class="h-6 w-6 flex-shrink-0 sm:h-10 sm:w-10" width="16" height="16" viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M6 13L10 3" stroke="currentColor" stroke-linecap="round" />
         </svg>
      </li>
      <li class="inline-flex items-center truncate text-xl font-semibold text-primary-900 sm:text-4xl"
         aria-current="page">
         Contact us
      </li>
   </ol>

   <div class="flex flex-col gap-10 sm:flex-row sm:gap-20">
      <div class="order-2 w-full sm:order-1 sm:w-2/6">
         <div>
            <div class="mb-6 flex items-center gap-4">
               <img src="/assets/images/icons/phone.svg" class="h-10 w-10" alt="" />

               <span class="font-extrabold text-stone-500">Call To Us</span>
            </div>

            <div class="space-y-4 text-sm text-black">
               <p>We are available 24/7, 7 days a week.</p>
               <% for (const phone of phones) { %>
               <p>Phone: <%= phone.value %> </p>
               <% } %>
            </div>
         </div>

         <hr class="my-7 border-primary-900 opacity-10" />

         <div>
            <div class="mb-6 flex items-center gap-4">
               <img src="/assets/images/icons/mail.svg" class="h-10 w-10" alt="" />

               <span class="font-extrabold text-stone-500">Write To US</span>
            </div>

            <div class="max-w-[30ch] space-y-4 text-sm text-black">
               <p>
                  Fill out our form and we will contact you within 24 hours.
               </p>
               <% for (const email of emails) { %>
               <p>Email: <%= email.value %> </p>
               <% } %>
            </div>
         </div>
      </div>

      <div class="order-1 w-full sm:order-2 sm:w-4/6">
         <div class="mb-6">
            <h2 class="mb-3 text-xl font-semibold capitalize text-primary-900 sm:text-3xl">
               Contact us We’re here for you.
            </h2>

            <p class="capitalize sm:text-xl">
               Send us your message along with your contact information.
            </p>
         </div>

         <form action="/message" method="post" class="w-full space-y-6 sm:w-4/6 sm:space-y-8">
            <p class="flex flex-col items-center gap-6 sm:flex-row sm:gap-8">
               <input type="text"
                  class="block h-[55px] w-full rounded-full border border-stone-500 border-opacity-25 bg-transparent px-5 text-stone-900 outline-none placeholder:text-stone-900/30 focus:border-primary-900 sm:w-1/2"
                  placeholder="Your Name *" name="username" />
               <input type="tel"
                  class="block h-[55px] w-full rounded-full border border-stone-500 border-opacity-25 bg-transparent px-5 text-stone-900 outline-none placeholder:text-stone-900/30 focus:border-primary-900 sm:w-1/2"
                  placeholder="Your Phone *" name="phone" />
            </p>

            <p>
               <input type="email"
                  class="block h-[55px] w-full rounded-full border border-stone-500 border-opacity-25 bg-transparent px-5 text-stone-900 outline-none placeholder:text-stone-900/30 focus:border-primary-900"
                  placeholder="Your Email *" name="email" />
            </p>

            <p>
               <textarea rows="4"
                  class="block w-full rounded-[20px] border border-stone-500 border-opacity-25 bg-transparent p-3 px-5 text-stone-900 outline-none placeholder:text-stone-900/30 focus:border-primary-900"
                  placeholder="Your Message" name="content"></textarea>
            </p>

            <button type="submit"
               class="ms-auto flex h-[55px] max-w-[220px] items-center gap-4 rounded-full border-none bg-secondary-900 px-6 font-bold text-primary-100 outline-none transition-colors hover:bg-secondary-900/75 disabled:bg-secondary-900/50">
               Send Massage
               <svg class="h-6 w-6 fill-primary-100 rtl:rotate-180">
                  <use href="/assets/images/icons/sprite.svg#arrow-right"></use>
               </svg>
            </button>
         </form>
      </div>
   </div>
</main>