<main class="main sm:mb-14">
   <h1 class="mb-8 text-center text-2xl font-semibold tracking-wide sm:text-4xl">
      Reset password
   </h1>

   <form method="post" class="mx-auto w-full max-w-lg space-y-6">
      <div>
         <label for="password-1" class="mb-2 block text-sm font-semibold text-stone-900">New Password</label>
         <div class="relative flex items-center">
            <input type="password" id="password" name="password"
               class="mb-2 block h-[55px] w-full rounded-full border border-stone-500 border-opacity-25 bg-transparent px-5 text-stone-900 outline-none placeholder:text-stone-900/30 focus:border-primary-900"
               placeholder="enter your password" />

            <button type="button" data-hs-toggle-password='{
          "target": "#password-1"
        }' class="absolute end-4 -translate-y-1">
               <svg class="h-6 w-6 flex-shrink-0 text-primary-900/30" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                  <path class="hidden hs-password-active:block" d="M9.88 9.88a3 3 0 1 0 4.24 4.24" />
                  <path class="hidden hs-password-active:block"
                     d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68" />
                  <path class="hidden hs-password-active:block"
                     d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61" />
                  <line class="hidden hs-password-active:block" x1="2" x2="22" y1="2" y2="22" />
                  <path class="block hs-password-active:hidden" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z" />
                  <circle class="block hs-password-active:hidden" cx="12" cy="12" r="3" />
               </svg>
            </button>
         </div>
         <% if (typeof errors != 'undefined' && typeof errors.password != 'undefined') { %>
         <p>
            <span class="text-xs font-bold text-stone-500">
               <%= errors.password %>
            </span>
         </p>
         <% } %>
      </div>

      <div>
         <label for="password-2" class="mb-2 block text-sm font-semibold text-stone-900">Re-enter your password</label>
         <div class="relative flex items-center">
            <input type="password" id="passwordConfirm" name="passwordConfirm"
               class="mb-2 block h-[55px] w-full rounded-full border border-stone-500 border-opacity-25 bg-transparent px-5 text-stone-900 outline-none placeholder:text-stone-900/30 focus:border-primary-900"
               placeholder="enter your password" />

            <button type="button" data-hs-toggle-password='{
          "target": "#password-2"
        }' class="absolute end-4 -translate-y-1">
               <svg class="h-6 w-6 flex-shrink-0 text-primary-900/30" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                  <path class="hidden hs-password-active:block" d="M9.88 9.88a3 3 0 1 0 4.24 4.24" />
                  <path class="hidden hs-password-active:block"
                     d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68" />
                  <path class="hidden hs-password-active:block"
                     d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61" />
                  <line class="hidden hs-password-active:block" x1="2" x2="22" y1="2" y2="22" />
                  <path class="block hs-password-active:hidden" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z" />
                  <circle class="block hs-password-active:hidden" cx="12" cy="12" r="3" />
               </svg>
            </button>
         </div>
         <% if (typeof errors != 'undefined' && typeof errors.passwordConfirm != 'undefined') { %>
         <p>
            <span class="text-xs font-bold text-stone-500">
               <%= errors.passwordConfirm %>
            </span>
         </p>
         <% } %>
      </div>

      <button type="submit"
         class="block h-[55px] w-full rounded-full border-none bg-primary-900 font-bold text-primary-100 outline-none transition-colors hover:bg-primary-900/75 disabled:bg-primary-900/50">
         Change
      </button>
   </form>
</main>